@-ms-viewport {
    width: device-width;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
html, body{
    font-family: 'Roboto', sans-serif !important;
    height: 100% !important;
	width: 100% !important;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
h1{
	text-align: center;
	border-bottom: solid;
	height: 60px;
}
.row{
  justify-content: center;
  min-height: 50px;
  height: 70px !important;
}
.param-title{
  font-weight: bold;
}
.salaryResult{
  height: 40px;
}