@-ms-viewport {width: device-width;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
html, body{
    font-family: 'Roboto', sans-serif !important;
    height: 100% !important;
	width: 100% !important;}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;}
.page-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #009C4C;
	color: white;
	font-size: 25px;
	text-align: center;
	border-bottom: solid;
	min-height: 60px;}
.param{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	font-weight: bold;
	min-height: 55px;
}
.lastparam{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	font-weight: bold;
	min-height: 55px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.form-control{
  	min-height: 40px;
}
.btn{
  	height: 40px;
  	min-width: 135px;
	font-weight: 500;
}
.resultsBlockClass{
	height: auto;
}
.resultExpensesSum{
	font-weight: bold;
}
.resultGross{
	font-weight: bold;
	color: red;
}
/* ----- RESPONSIVE -----*/
@media (max-width: 768px){
  .result-title{
  margin-top: 20px;
  }
  .btn{
    margin-top: 10px;
    height: 55px;
	font-size: 25px;
  }
}